<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final Invoice - {{request.session.username}}</title>
    <style>
      .invoice {
        font-family: Arial, sans-serif;
        padding: 30px;
        max-width: 1000px;
        margin: auto;
        color: #000;
        line-height: 1.4;
        font-size: 14px;
        position: relative;
      }
      .copyright-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        opacity: 0.1;
        filter: brightness(0.5);
        z-index: -1;
      }
      h1,
      h2,
      h3 {
        margin: 0;
      }
      .header {
        text-align: left;
        margin-bottom: 20px;
        line-height: 1.4;
      }
      .header p {
        margin: 0;
        font-size: 14px;
      }
      .header h5 {
        margin: 0 0 8px 0;
        font-size: 14px;
      }
      .sub-header {
        font-size: 13px;
      }
      .section {
      }
      table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
      }
      th {
        padding: 8px 0;
        border: 1px solid #000;
      }
      td {
        padding: 3px 0px;
        text-align: left;
      }
      .no-border {
        border: none;
      }
      .no-border th {
        border-left: 0;
        border-right: 0;
        text-align: left;
      }
      .no-border td {
        border: none;
      }
      .bill-summary td,
      .bill-summary th {
        text-align: right;
      }
      .bill-summary td:first-child,
      .bill-summary th:first-child {
        text-align: left;
      }
      .signatures {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
      }
      .bold {
        font-weight: bold;
      }
      .small {
        font-size: 12px;
      }

      h3 {
        text-align: center;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="invoice">
      <img
        src="https://healthsrx.com/static/images/main_logo.png"
        alt=""
        height="100px" class="copyright-logo"        
      />
      <div class="header">
        <table class="no-border" style="border-bottom: 1px solid #000">
          <tr>
            <td style="width: 40%">
              <h1 style="margin:0">{{request.session.username|upper}}</h1>
              <p class="">
                {{request.session.address|default:"Address not provided"}}
              </p>
              <p class="">
                <span class="me-3 d-inline-block"><i class="bi bi-globe"></i>
                  www.healthrxai.com</span>
                  <br />
                <span class="me-3 d-inline-block"><i class="bi bi-envelope"></i> {{request.session.email}}</span>
              </p>
              <p class="">
                <span>CIN: UR142CFFD5D4V1D9B7</span>
              </p>
              <p class="">ISO 17201:2012</p>
            </td>
            <td  style="width: 40%; text-align: left">
              <img
                src="https://healthsrx.com/static/images/main_logo.png"
                alt=""
                height="60px"
                class="mb-2"
              />
            </td>
            <!-- <td style="width: 40%; text-align: right">
              <h5 style="color: red">Most Trusted Brand</h5>
              <p class="mb-1"><strong>100%</strong><br />satisfied customers</p>
              <p><strong>10,000+</strong><br />lab tests booked</p>
            </td> -->
            <td>
              <strong>Patient UID:</strong> 
              {{billing.patient.patient_record_id}}<br />
              <strong>Patient Name:</strong> 
              {{billing.patient.name}}<br />
              <strong>Patient Gender/Age:</strong> 
              {{billing.patient.gender}}/{{billing.patient.age}}<br />
              <strong>Patient Address:</strong> 
              {{billing.patient.address}}<br />
              <strong>Bill No:</strong>
              {{billing.billing_record_id}}<br />
              <strong>Bill Date:</strong> 
              {{billing.created_at}}
            </td>
          </tr>
          <tr>
            <td colspan="2" class="gst">
             <p>
                <strong>GST No:</strong> {{request.session.gst_no|default:"Not provided"}}
              </p>
            </td>
            <td style="text-align: right">
              <p>
                <strong>DL No.:</strong> {{request.session.dl|default:"Not provided"}}
              </p>
          </tr>
        </table>
      </div>

      <div
        class="section"
        style="
          border-bottom: 1px solid #000;
          margin-bottom: 20px;
          padding-bottom: 10px;
          display: flex;
          justify-content: space-between;
        "
      >
        <div style="flex: 1;">
          <strong>Admission No:</strong> {{billing.appointment.appointment_record_id}}<br />
          <strong>Admission Date:</strong> {{billing.admission_date}}<br />
          <strong>Discharge Status:</strong> {{billing.patient_status}}<br />
          <strong>Admission Purpose:</strong> {{billing.admission_purpose}}<br />
          <strong>Package:</strong> {{billing.package_Details}}<br />
        </div>
        <div style="flex: 1;">
          <strong>Payment Mode:</strong> {{billing.payment_type}}<br />
          <strong>Remarks:</strong> {{billing.remarks}}<br />
          <strong>Discharge Date:</strong> {{billing.appointment.discharge_date}}<br />
          <strong>Bed No:</strong> GF-001<br />
        </div>
        <div style="flex: 1; text-align: right;">
          <strong>Dr. {{billing.doctor.name}}</strong><br />
          {{billing.doctor.designation}}<br />
          Reg. No: T123<br />
          Mob. No: {{billing.doctor.mobile}}
        </div>
      </div>
      
      <!-- <div
        class="section"
        style="
          border-bottom: 1px solid #000;
          margin-bottom: 20px;
          padding-bottom: 10px;
        "
      >
        <strong>Consulting Doctors:</strong><br />
        - Dr. Shaunak Sule (Plastic Surgeon)<br />
        - Dr. Bharat Purandare (Infectious Diseases Practitioner)
      </div> -->
      <div class="section">
        <h3>BILL SUMMARY</h3>
        <table class="no-border">
          <!-- <tr>
            <th>Sr.No.</th>
            <th>Primary Code</th>
            <th>Particulars</th>
            <th style="text-align: right">Amount</th>
          </tr> -->
          <tr>
            <th>Sr.No.</th>
            <th>Bill No.</th>
            <th>Bill Type</th>
            <th>Patient</th>
            <th>Bill Amount</th>
            <th>Disc.(%)</th>
            <th>Paid</th>
            <th>Due</th>
          </tr>
          <!-- <tr>
            <td>1</td>
            <td>100000</td>
            <td>Room & Nursing Charges</td>
            <td style="text-align: right">2350.00</td>
          </tr> -->
          {% if billing.billing_details.billing_info %}
            {% for item in billing.billing_details.billing_info %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.billing_record_id }}</td>
              <td>{{ item.bill_type }}</td>
              <td>{{ item.patient_name }}</td>
              <td>{{ item.subtotal }}</td>
              <td>{{ item.discount_percentage }}</td>
              <td>{{ item.amount_paid }}</td>
              <td>{{ item.amount_due }}</td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="8" class="text-center">No billing details available.</td>
            </tr>
          {% endif %}
         
        </table>

        <div style="
            padding: 20px 0 10px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            margin-bottom: 30px;">

          <p style="margin: 0; text-align: right; font-size: 15px">
            <strong>Total Bill Amount:</strong> {{billing.total_bill_amount}}
          </p>
         
          <p style="margin: 0; text-align: right; font-size: 15px">
            <strong>Amount Paid:</strong> {{billing.total_paid_amount}}
          </p>

          <p style="margin: 0; text-align: right; font-size: 15px">
            <strong>Amount Payable:</strong> {{billing.final_billing_amount}}
          </p>

        </div>
      </div>

      <div class="section">
        <h3>DETAILED BREAKUP</h3>
        <table class="no-border">
          <tr>
            <th>No.</th>
            <!-- <th>Code</th> -->
            <th>Date & Time</th>
            <th>Particulars</th>
            <th>Rate</th>
            <th>Units</th>
            <th>Amount</th>
          </tr>
          {% if billing.billing_details.services %}
            {% for item in billing.billing_details.services %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <!-- <td>100000</td> -->
              <td>{{item.date}}</td>
              <td>{{item.name}}</td>
              <td>{{item.cost}}</td>
              <td>{{item.qty}}</td>
              <td>{{item.amount}}</td>
            </tr>
            {% endfor %}
          {% endif %}
          {% if billing.billing_details.ipd_entries %}
            {% for item in billing.billing_details.ipd_entries %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <!-- <td>100001</td> -->
              <td>{{item.date}}</td>
              <td>{{item.description}}</td>
              <td>{{item.cost}}</td>  
              <td>{{item.qty}}</td>
              <td>{{item.amount}}</td>
            </tr>
            {% endfor %}
          {% endif %}
          {% if billing.billing_details.ipd_services %}
            {% for item in billing.billing_details.ipd_services %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{item.date}}</td>
              <td>{{item.description}}</td>
              <td>{{item.cost}}</td>  
              <td>{{item.qty}}</td>
              <td>{{item.amount}}</td>
            </tr>
            {% endfor %}
          {% endif %}
          {% if billing.billing_details.pharmacy_items %}
            {% for item in billing.billing_details.pharmacy_items %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{item.date}}</td>
              <td>{{item.name}}</td>
              <td>{{item.cost}}</td>  
              <td>{{item.qty}}</td>
              <td>{{item.amount}}</td>
            </tr>
            {% endfor %}
          {% endif %}
        </table>
        <div
          class="bold"
          style="
            text-align: right;
            margin-top: 10px;
            border-top: 1px solid #000;
          "
        >
          Net Amount: {{billing.final_billing_amount}}
        </div>
      </div>

      <div class="section" style="margin-top: 30px">
        <h3>PAYMENT SUMMARY</h3>
        <table class="no-border">
          <tr>
            <th>Remarks</th>
            <th>Date & Time</th>
            <th>Method</th>
            <!-- <th>Status</th> -->
            <th>Amount</th>
          </tr>
          <tr>
            <td>{{billing.remarks}}</td>
            <td>{{billing.created_at}}</td>
            <td>{{billing.payment_type|upper}}</td>
            <!-- <td>{{billing.payment_status}}</td> -->
            <td>Rs. {{billing.final_billing_amount}}</td>
          </tr>
        </table>
      </div>

      <div class="signatures">
        <div>Patient's Signature</div>
        

        <div style="text-align: center; margin-top: 20px;">
          <button style="padding: 8px 20px; font-size: 16px; background: #555; color: #fff; border: none; border-radius: 4px; cursor: pointer;" onclick="window.print()">
            Print
          </button>
        </div>

        <div>Authorized Signatory</div>

      </div>
    </div>
  </body>
</html>
