{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}



<div class="mx-4">
  <div class="card border-0">
       <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mb-0">
        Fitness Certificate Records
      </h5>
      {% if 'fitness-certificate-add' in request.session.user_permissions %}
      <a href="/certificate/fitness-certificate/add" class="btn btn-primary">
        Add Certificate
      </a>
      {% endif %}
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="example" class="table table-striped table-hover align-middle">
          <thead class="table-secondary text-dark">
            <tr>
              <th></th>
              <th scope="col">ID</th>
              <th scope="col">Patient Name</th>
              <th scope="col">Guardian Name</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
              <th scope="col">Examination Date</th>
              <th scope="col">Fitness Status</th>
              <th scope="col" class="rounded-end text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for d in fitness %}
            <tr>
              <td></td>
              <td>
                <span class="fw-semibold text-primary d-block text-center">FC-00{{ forloop.counter }}</span>
              </td>
              <td>{{ d.patient.name }}</td>
              <td>{{ d.patient.guardian_name }}</td>
              <td>{{ d.patient.age }}</td>
              <td>{{ d.patient.gender }}</td>
              <td>{{ d.examination_date }}</td>
              <td>{{ d.fitness_status }}</td>
              <td class="text-center">
                {% if 'fitness-certificate-view' in request.session.user_permissions %}
                <a href="{% url 'certificate:fitness_certificate_view' d.id %}" class="btn btn-outline-warning btn-sm me-1" title="View">
                  <i class="bi bi-eye-fill"></i>
                </a>
                {% endif %}
                {% if 'fitness-certificate-edit' in request.session.user_permissions %}
                <a href="{% url 'certificate:fitness_certificate_edit' d.id %}" class="btn btn-outline-primary btn-sm me-1" title="Edit">
                  <i class="bi bi-pen-fill"></i>
                </a>
                {% endif %}
                {% if 'fitness-certificate-delete' in request.session.user_permissions %}
                <a href="{% url 'certificate:fitness_certificate_delete' d.id %}" class="btn btn-outline-danger btn-sm" title="Delete" onclick="return confirm('Are you sure you want to delete this certificate?');">
                  <i class="bi bi-trash3-fill"></i>
                </a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



{% endblock %}
