{% extends "website_parent/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-3">

    <h1 class="fw-bold text-center">Terms of Service</h1> <hr>
    <p>These Terms of Service (“TOS”) apply to the access and use of all of our web and mobile-based applications (collectively referred to as “Platforms”) and the use of our products and services provided through the Platforms (“Services”). The Platforms are owned, managed, and operated by HealthRx Technologies Private Limited, having its registered office at 2nd floor, Vajram Esteva, AWFIS, 57/4, Outer Ring Rd, Devarabisanahalli, Bellandur, Bengaluru, Karnataka 560103 (hereinafter referred to as “us”/ “we”/ “HealthRx”/ “Company”).</p><br>

    <p>These TOS govern the use of the Platforms and Services by you, the registered medical practitioners, having valid credentials and registered with the Medical Council of India or any successor organization as may be notified in the future (“Doctors”), your staff (“Staff”), and the patients and end users who are using the Platforms (“Patients”). Patients, Staff, and Doctors are jointly referred to as “Users” or “you”. By accessing or using the Platforms, registering for Services offered on the Platforms, or by accepting, uploading, submitting, or downloading any information or content from or to the Platforms, you agree to these TOS.</p><br>

    <h4>Acceptance of Terms</h4>
    <p>Your use of the Platforms is subject to these TOS, which may be updated, amended, modified, or revised by HealthRx from time to time without any notice to you. It is important for you to refer to these TOS periodically to ensure that you are aware of any additions, revisions, amendments, or modifications that we may have made. Your continued use of the Platforms or the Services following the posting of any changes to the TOS constitutes acceptance of those changes.</p><br>

    <h4>Use of Services</h4>
    <p>The Platforms and Services are designed to assist Doctors in storing, obtaining, and reviewing health information of Patients who visit their clinics or hospitals. Doctors can review health information such as Patients’ vitals, medical reports, medical records, medical images, etc. (“Data”) and provide feedback, advice, and suggestions relevant to the Patients. We endeavor to provide a functional and convenient Service through our Platforms, but we do not guarantee that your web browser or mobile device will be compatible with the Platforms or that the Platforms and Services will be available uninterrupted or error-free.</p><br>

    <p>HealthRx reserves the right, at its sole discretion, to modify or replace all or any part of the TOS (including, without limitation, pricing and payment terms), or change, suspend, or discontinue all or any part of the Services or Platforms at any time by posting a notice on the Platforms or by informing you through any other modes of communication. It is your responsibility to check the TOS periodically for changes.</p><br>

    <p>The Platforms may collect and store demographic, financial, health records, and any other type of information that you may provide, as per our privacy policy published on the Platforms.</p><br>

    <h4>Registration</h4>
    <p>As part of the registration process, you will need to create an account, including a username and password. It is your responsibility to ensure that the information you provide is accurate, not misleading, and secure. You shall be responsible for keeping your credentials in safe custody. HealthRx will not be liable for any losses or claims arising out of misuse of Platforms or Services accessed with your credentials.</p><br>

    <h4>Data Confidentiality</h4> <br>
    <h6>a) Responsibility of Doctors and Staff</h6>
    <p>Through your use of the Platforms, you shall have access to sensitive and valuable Data of the Users, which may include medical records, medical information, personal information, or any other information as may be required. Doctors and their Staff agree to treat as confidential all Data that they have been provided access to and shall make their best efforts to maintain the confidentiality of such Data.</p><br>

    <h6>b) Restrictions on Use of Platforms</h6> 
    <p>Doctors and Staff agree that they shall not:</p>
    <ul>
        <li>Copy or republish the Platforms, except as may be provided herein;</li>
        <li>Make the Platforms available to any person other than its authorized personnel;</li>
        <li>Remove, modify, or obscure any copyright, trademark, or other proprietary notices contained in the Platforms;</li>
        <li>Reverse engineer, decompile, disassemble, or otherwise attempt to derive the source code of Platforms;</li>
        <li>Access the Platforms to build a similar or competitive product.</li>
    </ul> <br>

    <h6>c) Confidentiality of Data</h6>
    <p>HealthRx shall treat as confidential all Data that it has been provided access to and shall make its best efforts to maintain the confidentiality of such Data.</p><br>

    <h4>Intellectual Property Rights</h4>
    <p>All content, trademarks, and data on the Platforms, including but not limited to software, databases, text, graphics, icons, hyperlinks, private information, designs, and agreements, are the property of HealthRx or have been licensed to HealthRx and as such are protected from infringement by local and international legislation and treaties. All rights not expressly granted are reserved.</p><br>
</div>
{% endblock content %}
