{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="mx-4">
  <div class="card border-0">
       <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mb-0">
        Death Certificate Records
      </h5>
      {% if 'death-certificate-add' in request.session.user_permissions %}
      <a href="/certificate/death-certificate/add" class="btn btn-primary">
        Add Certificate
      </a>
      {% endif %}
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="example" class="table table-striped table-hover align-middle">
          <thead class="table-secondary text-dark">
            <tr>
              <th></th>
              <th scope="col">ID</th>
              <th scope="col">Deceased Name</th>
              <th scope="col">Deceased Gender</th>
              <th scope="col">Date of Death</th>
              <th scope="col">Place of Death</th>
              <th scope="col">Cause of Death</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for d in deaths %}
            <tr>
              <td></td>
              <td>
                <span class="">DC-00{{ forloop.counter }}</span>
              </td>
              <td>{{ d.patient.name }}</td>
              <td>{{ d.patient.gender }}</td>
              <td>{{ d.date_of_death }}</td>
              <td>{{ d.place_of_death }}</td>
              <td>{{ d.cause_of_death }}</td>
              <td class="text-center">
                {% if 'death-certificate-view' in request.session.user_permissions %}
                <a href="{% url 'certificate:death_certificate_view' d.id %}" class="btn btn-outline-warning btn-sm me-1" title="View">
                  <i class="bi bi-eye-fill"></i>
                </a>
                {% endif %}
                {% if 'death-certificate-edit' in request.session.user_permissions %}
                <a href="{% url 'certificate:death_certificate_edit' d.id %}" class="btn btn-outline-primary btn-sm me-1" title="Edit">
                  <i class="bi bi-pen-fill"></i>
                </a>
                {% endif %}
                {% if 'death-certificate-delete' in request.session.user_permissions %}
                <a href="{% url 'certificate:death_certificate_delete' d.id %}" class="btn btn-outline-danger btn-sm" title="Delete" onclick="return confirm('Are you sure you want to delete this certificate?');">
                  <i class="bi bi-trash3-fill"></i>
                </a>
                {% endif %}
              </td>
            </tr>
           
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
